In [1]:
import pandas as pd

In [7]:
file='Candidates.xlsx'

In [8]:
df=pd.ExcelFile(file)

In [9]:
sheets=df.sheet_names

In [13]:
#show Sheets Information
for i, sheet in enumerate(sheets):
    print(i, sheet)

0 8RT813V
1 KVB7ZHA
2 K7ZHT7M
3 0WJ36TQ
4 1F3A8JQ
5 EDUK24Y
6 Q42HVKL
7 7352UX5
8 5ROVLWE
9 FW3IH63
10 2BOW4RN
11 NLDW8UH
12 838FPVJ
13 7ZTVN1A

In [22]:
#Show Data of First DV
df.parse(sheets[0])

,CVEmail,CVSkills,Experience,Score
0,yogiponn1@gmail.com,"c++, C#, Java, .Net, asp.net, Javascript, VC++,",15.1,NaN
1,sreejayanravindran@yahoo.co.uk,"asp.net,c#,sql server,vb.net,mvc,tridion",10.0,NaN
2,yogiponn2@gmail.com,"c#, vb,net, C/C++, VC++, C, Java, MVC, .Net, M...",15.1,NaN
3,suneel.vanka@gmail.com,".Net ,ASP.NET, MVC, jQuery,angular js, C#, W...",6.0,NaN
4,nabeelcp@gmail.com,".Net, C#,ASP.NET,ASP.NET MVC, jQuery,JavaScri...",8.1,NaN
5,urvipathak1090@gmail.com,"Java,C++,.NET,Java,C++,.NET,Java,C++,.NET,",0.3,NaN
6,ptirtha@hotmail.com,"Maths, Quant, C++, VC++, GMAT, CAT, Programmer...",14.2,NaN
7,rajarun16@gmail.com,".net,c#.net,Asp.net,Ado.net, sql server 2008",3.5,NaN
8,zeeshandbg260@gmail.com,"Engineer,.net,sql server,c#,c++,dbms,javaScrip...",1.8,NaN
9,navin.goradara@gmail.com,"c,c++,C#,vb,SQL Server 2008,asp.net,",3.1,NaN
10,coreyschristian@gmail.com,"SQL,C#,.NET,LINQ, ASP.NET,Microsoft Office,HTM...",2.0,NaN
11,munashe@xnine.us,"Java, C#, J2EE, PHP, VB, C++, ASP .NET, .NET, ...",5.0,NaN
12,vipinkm89j@gmail.com,"Programmer, C++,C#,Asp.Net,Vb.Net,Sql,.Net",0.6,NaN
13,vasanth.net@live.com,"E-commerce,SEO,ASP.Net,Programming,C#, .Net, S...",4.0,NaN
14,megha.dave@gmail.com,"ASP.NET, C#, VB.NET, SQL Server, Software engi...",4.5,NaN

In [33]:
applications1=df.parse(sheets[0])

In [95]:
#Applicatios for First Skills
processed_skill=[]
for skill in applications1['CVSkills']:
    processed_skill.append(list(set([x.strip() for x in skill.rstrip(',').lower().split(',')])))

In [36]:
applications_Reduced1

,CVEmail,CVSkills,Experience
0,yogiponn1@gmail.com,"c++, C#, Java, .Net, asp.net, Javascript, VC++,",15.1
1,sreejayanravindran@yahoo.co.uk,"asp.net,c#,sql server,vb.net,mvc,tridion",10
2,yogiponn2@gmail.com,"c#, vb,net, C/C++, VC++, C, Java, MVC, .Net, M...",15.1
3,suneel.vanka@gmail.com,".Net ,ASP.NET, MVC, jQuery,angular js, C#, W...",6
4,nabeelcp@gmail.com,".Net, C#,ASP.NET,ASP.NET MVC, jQuery,JavaScri...",8.1
5,urvipathak1090@gmail.com,"Java,C++,.NET,Java,C++,.NET,Java,C++,.NET,",0.3
6,ptirtha@hotmail.com,"Maths, Quant, C++, VC++, GMAT, CAT, Programmer...",14.2
7,rajarun16@gmail.com,".net,c#.net,Asp.net,Ado.net, sql server 2008",3.5
8,zeeshandbg260@gmail.com,"Engineer,.net,sql server,c#,c++,dbms,javaScrip...",1.8
9,navin.goradara@gmail.com,"c,c++,C#,vb,SQL Server 2008,asp.net,",3.1
10,coreyschristian@gmail.com,"SQL,C#,.NET,LINQ, ASP.NET,Microsoft Office,HTM...",2
11,munashe@xnine.us,"Java, C#, J2EE, PHP, VB, C++, ASP .NET, .NET, ...",5
12,vipinkm89j@gmail.com,"Programmer, C++,C#,Asp.Net,Vb.Net,Sql,.Net",0.6
13,vasanth.net@live.com,"E-commerce,SEO,ASP.Net,Programming,C#, .Net, S...",4
14,megha.dave@gmail.com,"ASP.NET, C#, VB.NET, SQL Server, Software engi...",4.5

In [52]:
mapping='Jobs.xlsx'
mappingDF=pd.read_excel(mapping)

In [54]:
mappingDF.head()

     JobID                                             SKILLS
0  8RT813V                    c#,.net, asp.net,sql server,c++
1  KVB7ZHA      Photoshop, Html, Css, Dreamweaver, Jvascript,
2  K7ZHT7M   IT Sales, Sales Engineer, Sales & Pre Sales E...
3  0WJ36TQ   PHP, MySql, CodeIgniter, Wordpress, Drupal, C...
4  1F3A8JQ   ASP.net, C#, XML, Ajax, SQL Server, Oracle, S...

In [96]:
#Target Skills For 14 Jobs
target_skills=[]
for i, skill in enumerate(mappingDF['SKILLS']):
    target_skills.append(list(set([x.strip() for x in skill.rstrip(',').strip().lower().split(',')])))

In [103]:
#Skill for First Job
target_skills[0]

['c#', 'c++', 'asp.net', '.net', 'sql server']

In [118]:
#Processed Skill for First Job[]
matched_skills_total=[]
for i,cv in enumerate(processed_skill):
    matched_skills=[]
    for skill in cv:
        if skill in target_skills[0]:
            matched_skills.append(skill)
    matched_skills_total.append(matched_skills)

In [119]:
matched_skills_total

[['c#', 'asp.net', '.net', 'c++'],
 ['c#', 'asp.net', 'sql server'],
 ['c#', '.net'],
 ['c#', 'asp.net', '.net'],
 ['c#', 'asp.net', '.net'],
 ['.net', 'c++'],
 ['c#', '.net', 'c++'],
 ['asp.net', '.net'],
 ['c#', 'sql server', '.net', 'c++'],
 ['c#', 'asp.net', 'c++'],
 ['c#', 'asp.net', '.net'],
 ['c#', '.net', 'c++'],
 ['c#', 'asp.net', '.net', 'c++'],
 ['c#', 'asp.net', '.net', 'sql server'],
 ['c#', 'asp.net', 'sql server']]

In [122]:
candidates=[]
for i, matched in enumerate(matched_skills_total):
    candidates.append(len(matched))

In [123]:
candidates

[4, 3, 2, 3, 3, 2, 3, 2, 4, 3, 3, 3, 4, 4, 3]

In [110]:
print(processed_skill[0]), print(target_skills[0])

['javascript', 'vc++', 'c#', 'asp.net', '.net', 'java', 'c++']
['c#', 'c++', 'asp.net', '.net', 'sql server']

(None, None)

In [140]:
listEx=[1, 4, 7, 9, 10]
listFx=[2, 4, 6, 8]

In [143]:
[a+b for a, b in zip(listEx, listFx)]

[3, 8, 13, 17]

In [139]:
[0.5*x if x>=4 and x<=7 else x for x in listEx]

[1, 2.0, 3.5, 9, 10]

In [ ]:
[0.5*x if x>=4 and x<=7 else x for x in listEx]

In [133]:
[x/max(listEx) for x in listEx]

[0.14285714285714285, 0.5714285714285714, 1.0]

In [127]:
[x/len(listEx) for x in listEx]

[0.3333333333333333, 1.3333333333333333, 2.3333333333333335]

In [130]:
type(applications1['Experience'])

pandas.core.series.Series

In [131]:
for i in range(5):
    print(i)

0
1
2
3
4